CarShop/wsdl/carshopservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.carshop.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.service.carshop.mycompany.com/" name="ServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.service.carshop.mycompany.com/" schemaLocation="http://localhost:8088/carshopservice?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllPartsByManufacturer">
<part name="arg0" type="tns:manufacturer"/>
</message>
<message name="getAllPartsByManufacturerResponse">
<part name="return" type="tns:partArray"/>
</message>
<message name="getAllPartsBySystem">
<part name="arg0" type="tns:carSystem"/>
</message>
<message name="getAllPartsBySystemResponse">
<part name="return" type="tns:partArray"/>
</message>
<message name="getPartById">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getPartByIdResponse">
<part name="return" type="tns:part"/>
</message>
<message name="getAllParts"/>
<message name="getAllPartsResponse">
<part name="return" type="tns:partArray"/>
</message>
<message name="getSystemById">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getSystemByIdResponse">
<part name="return" type="tns:carSystem"/>
</message>
<message name="getAllSystems"/>
<message name="getAllSystemsResponse">
<part name="return" type="tns:carSystemArray"/>
</message>
<message name="getMemberById">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getMemberByIdResponse">
<part name="return" type="tns:member"/>
</message>
<message name="getAllMembers"/>
<message name="getAllMembersResponse">
<part name="return" type="tns:memberArray"/>
</message>
<message name="getDealById">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getDealByIdResponse">
<part name="return" type="tns:deal"/>
</message>
<message name="getDealsByMember">
<part name="arg0" type="tns:member"/>
</message>
<message name="getDealsByMemberResponse">
<part name="return" type="tns:dealArray"/>
</message>
<portType name="ServiceImpl">
<operation name="getAllPartsByManufacturer">
<input message="tns:getAllPartsByManufacturer"/>
<output message="tns:getAllPartsByManufacturerResponse"/>
</operation>
<operation name="getAllPartsBySystem">
<input message="tns:getAllPartsBySystem"/>
<output message="tns:getAllPartsBySystemResponse"/>
</operation>
<operation name="getPartById">
<input message="tns:getPartById"/>
<output message="tns:getPartByIdResponse"/>
</operation>
<operation name="getAllParts">
<input message="tns:getAllParts"/>
<output message="tns:getAllPartsResponse"/>
</operation>
<operation name="getSystemById">
<input message="tns:getSystemById"/>
<output message="tns:getSystemByIdResponse"/>
</operation>
<operation name="getAllSystems">
<input message="tns:getAllSystems"/>
<output message="tns:getAllSystemsResponse"/>
</operation>
<operation name="getMemberById">
<input message="tns:getMemberById"/>
<output message="tns:getMemberByIdResponse"/>
</operation>
<operation name="getAllMembers">
<input message="tns:getAllMembers"/>
<output message="tns:getAllMembersResponse"/>
</operation>
<operation name="getDealById">
<input message="tns:getDealById"/>
<output message="tns:getDealByIdResponse"/>
</operation>
<operation name="getDealsByMember">
<input message="tns:getDealsByMember"/>
<output message="tns:getDealsByMemberResponse"/>
</operation>
</portType>
<binding name="ServiceImplPortBinding" type="tns:ServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getAllPartsByManufacturer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getAllPartsBySystem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getPartById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getAllParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getSystemById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getAllSystems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getMemberById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getAllMembers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getDealById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
<operation name="getDealsByMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.service.carshop.mycompany.com/"/>
</output>
</operation>
</binding>
<service name="ServiceImplService">
<port name="ServiceImplPort" binding="tns:ServiceImplPortBinding">
<soap:address location="http://localhost:8088/carshopservice"/>
</port>
</service>
</definitions>